* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F5F5F5;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Mobile-first responsive design */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

