.carouselContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.swiperRoot {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.slide {
  height: 250px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(-6px 4px 4px rgba(0, 0, 0, 0.25));
}

.swiperRoot :global(.swiper-slide-active) {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
  box-shadow: -6px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.swiperRoot :global(.swiper-slide-prev),
.swiperRoot :global(.swiper-slide-next) {
  opacity: 0.5;
  transform: scale(0.95);
  box-shadow: -6px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.carouselContainer :global(.swiper-button-next),
.carouselContainer :global(.swiper-button-prev) {
  color: #4ecdc4;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.carouselContainer :global(.swiper-button-next::after),
.carouselContainer :global(.swiper-button-prev::after) {
  font-size: 16px;
}

.carouselContainer :global(.swiper-pagination-bullet) {
  background: #4ecdc4;
  opacity: 0.5;
}

.carouselContainer :global(.swiper-pagination-bullet-active) {
  opacity: 1;
  background: #4ecdc4;
}

@media (max-width: 768px) {
  .slide {
    height: 200px;
  }
}

@media (max-width: 568px) {
  .slide {
    height: 180px;
  }

  .carouselContainer {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .slide {
    height: 160px;
  }
}

